In [1]:
import pandas as pd

df = pd.read_csv('country_vaccination_stats.csv')
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [2]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,0.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [3]:
sum_date = df.groupby(['date'])['daily_vaccinations'].sum()
sum_date

date
1/1/2021       937426.0
1/10/2021     1927069.0
1/11/2021     1978936.0
1/12/2021     1989439.0
1/13/2021     2128642.0
1/14/2021     2558868.0
1/15/2021     2759192.0
1/16/2021     2963588.0
1/17/2021     2944891.0
1/18/2021     3067223.0
1/19/2021     3279644.0
1/2/2021      1014630.0
1/20/2021     3341204.0
1/21/2021     2683521.0
1/22/2021     2772300.0
1/23/2021     2918389.0
1/24/2021     3005078.0
1/25/2021     2137679.0
1/3/2021      1069122.0
1/4/2021      1179002.0
1/5/2021      1329776.0
1/6/2021      1466568.0
1/7/2021      1636630.0
1/8/2021      1757596.0
1/9/2021      1843954.0
12/13/2020          0.0
12/14/2020       9797.0
12/15/2020      10663.0
12/16/2020     202347.0
12/17/2020     202955.0
12/18/2020     203234.0
12/19/2020     202973.0
12/20/2020     209907.0
12/21/2020     360097.0
12/22/2020     438915.0
12/23/2020     480933.0
12/24/2020     553092.0
12/25/2020     586594.0
12/26/2020     609813.0
12/27/2020     610689.0
12/28/2020     674555.0
12/29/2020     754621.0
12/30/2020     835020.0
12/31/2020     873532.0
Name: daily_vaccinations, dtype: float64

In [4]:
sum_date['1/6/2021']

1466568.0